
<!-- Lists all medications. Can create new. -->

<div class = "medication_list">

    <% @medication.each do |medication| %>

    <%= @medications.all %>

        <% if medications.size == 0 %>
            <em> No medications found. <%= link_to "Add a new medication for a patient here.", new_medication_path %>. </em>
        <% end %>
    <% end %>

</div>