
<!-- Lists all medications. Can create new. -->

<div class = "medication_list">
<% @medications = [] %>

	<% @medications.each do |med| %>
		<%= med.name %><br>
	<% end %>

	<%# medication.all %>
		<%# if medication.size == 0 %>
	<%# end %>

<% if @medications.empty? %>
	<em> No medications found. <%= link_to "Add a new medication for a patient here.", new_medication_path %>.</em>
<% end %>

</div>