

<div class = "sidebar">
    <h3>
        <ul>
    <li><%= link_to 'Manage Patients', patients_path %></li>

    <li><%= link_to 'Add A Patient', new_patient_path %></li>

    <li>Add A Medication To Patient </li> </h3>

    <!-- collection of patients in a scroll down bar -->


</div>


</div class = "main_calendar">

Schedule of Medications

<div>