<div class = "main-container">

Schedule of Medications For Each Patient This is the dashboard page.
<table>
 <ul>
     <% @patients.each do |patient| %>
       <li> <%= patient.id %> <%= patient.name %>
       <p1> <%= patient.age %>
        <% patient.medications.each do |med| %>
          <%= med.name %>
      </p1>
          <% end %>
        </li>
    </ul>
</table>
    <%#= patient.medications.map{|m| m.name }.join(", ") %> </li>
    <% end %>


</div>