<!-- MANAGE PATIENTS. LISTS OUT ALL PATIENTS. -->

<div class = "patient_list">

    <% if @patients.size == 0 %>
        <em> No patients found. <%= link_to "Add a new patient here", new_patient_path %>. </em>
    <% end %>

    <% @patients.each do |patient| %>
        <div class = "patient-list-name"> <h4><%= patient.name %></h4> </div>
        <div class = "patient-list-info"><p><%= patient.age %>, <%= patient.gender %></p></div>
    <% end %>
</div>



