<!DOCTYPE html>
<html>
<head>
  <title>MedplusV3</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class = "navbar">

<!-- Logo Goes Here, to the right-->

<ul>
    <!-- Navigation Bar goes here, also to the right-->
    <li> My Account </li>
    <li> Help </li>
   </ul>

</div>
<div class= "maincontainer">

    <%= yield %>

</div>

<div class= "footer">

<ul>
    <li> About Us </li>
    <li> Contact </li>
    <li> Location </li>
</ul>

   </div>



</body>
</html>
